$primary-white-color: #ffffff;
$main-font-stack:'Dosis', sans-serif;
$secondary-font-stack: 'Open Sans', sans-serif;
$first-font-size: 1.7rem;
$second-font-size: 1.2rem;
$third-font-size:1.4rem;
$section-header-fsz: 5.5rem;
$nav-text-color: #606060;
$primary-text-color: #7a8083;
$secondry-text-color: #aaaaaa;
$secondary-text-color: #000002;
$third-text-color: #000000;
$fourth-text-color: #979898;
$dates-text-color: #6c6c6d;
$button-caler-menu: #bebebe;
$navigation-background: rgba(229,230,230,0.6);
$section-first-color: #8b6a52;
$section-count-color: #979898;
$section-album-description: #acacac;
$section-six-color: #42717e;
$section-seven-color: #5b5c5a;
$section-seven-date: #5b5c5a;
$section-seven-description: #5a5a58;
$section-eight-color: #454545;
